<style>

    .poojas-price{
        background-color: whitesmoke;
    }

    .yagam-price{
        background-color: #ECE9E9;
        height: 400px;
    }

    .homam-price{
        background-color: #E3F2FD;
        border-radius: 3px;
        padding: 15px;
    }
    .rr-name{
        color:darkgoldenrod;
    }

</style>


<div class="container-fluid text-center">

    <div class="container text-center">
        <br>
        <h5>Pricing Information</h5>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
                <div class="row">
                    <div class="text-center col-xs-12 col-sm-6 col-md-12 col-lg-12 wow fadeInLeft">
                        <div class="docs-pictures hoverable img waves-effect waves-orange" style="border:1px solid goldenrod">
                            <img src="images/SreechakramLarge.jpg"  class="img" alt="" height="200px" width="200px">
                        </div>
                        <br><br>
                        <p class="rr-name">SreeChakram</p>

                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                        <div class="docs-pictures hoverable  waves-effect waves-orange" style="border:1px solid goldenrod">
                            <img src="images/pathaakkam-front.png"  class="img" alt="" height="100px" width="100px">
                        </div>
                        <br><br>
                        <p class="rr-name">Sree Pathakkam <small>(front)</small></p>

                    </div>

                    <div class="text-center col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp">
                        <div class="docs-pictures hoverable waves-effect waves-orange" style="border:1px solid goldenrod">
                            <img src="images/pathaakkam-back.png"  class="img" alt="" height="100px" width="100px">
                        </div>
                        <br><br>
                        <p class="rr-name">Sree Pathakkam <small>(back)</small></p>

                    </div>

                    <!--<h5>Sree Chakram</h5>-->
                    <!--<img src="images/SreechakramLarge.jpg" class="img-responsive" alt="" style="height: 200px;width: 200px;">-->


                </div>
            </div>

            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
                <span style="border-bottom: 1px solid darkgoldenrod;">Sree Pathakkam</span>

                <div class="collection">
                    <a  class="collection-item" >Bronze<span class="medium-500 maketextgold badge-md">250 &#8377;</span></a>
                    <a  class="collection-item">Gold Plated<span class="medium-500 maketextgold badge-md">350 &#8377;</span></a>
                    <a  class="collection-item">Silver <span class="badge blue">Small</span><span class="medium-500 maketextgold badge-md">600 &#8377;</span></a>
                    <a  class="collection-item">Silver <span class="badge blue">Large</span><span class="medium-500 maketextgold badge-md">1,200 &#8377;</span></a>
                    <a  class="collection-item">Gold <span class="badge orange">2 gm</span><span class="medium-500 maketextgold badge-md">7,000 &#8377;</span></a>
                    <a  class="collection-item">Gold <span class="badge orange">4 gm</span><span class="medium-500 maketextgold badge-md">13,000 &#8377;</span></a>
                    <a  class="collection-item">Gold <span class="badge orange">8 gm</span><span class="medium-500 maketextgold badge-md">25,000 &#8377;</span></a>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4">
                <span style="border-bottom: 1px solid darkgoldenrod;">Sree Chakram</span>

                <div class="collection">
                    <a  class="collection-item">SMALL<span class="medium-500 maketextgold badge-md">1,500 &#8377;</span></a>
                    <a  class="collection-item">MEDIUM<span class="medium-500 maketextgold badge-md">3,000 &#8377;</span></a>
                    <a  class="collection-item">GOLD PLATED<span class="medium-500 maketextgold badge-md">6,000 &#8377;</span></a>
                </div>
            </div>
            </div>
        <div class="row container text-center">
            <p><small>*All Sreechakrams and SreePathakkams are available only on pre-Booking. Please make your bookings in advance</small></p>
        </div>
        </div>
    </div>

    <div class="poojas-price">

        <div class="container text-center">
            <br>
            <h5>Special Poojas during Yagam</h5>
            <hr>
            <div class="row container text-center">
                <div class="col-md-3 col-lg-3">

                </div>
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                    <span style="border-bottom: 1px solid darkgoldenrod;">HOMAM</span>

                    <div class="collection homam-price">
                        <a  class="collection-item" style="background-color: transparent">Gayathri Yagam, All Homams
                            <span class="badge blue">5Days</span><span class="badge green">Family</span>
                            <span class="medium-500 maketextgold badge-md">50,001 &#8377;</span></a>

                        <a  class="collection-item" style="background-color: transparent">Gayathri Yagam, All Homams
                            <span class="badge blue">1Day</span><span class="badge green">Family</span>
                            <span class="medium-500 maketextgold badge-md">20,000 &#8377;</span></a>

                        <a  class="collection-item" style="background-color: transparent">Gayathri Yagam
                            <span class="badge blue"></span><span class="badge green">Family</span>
                            <span class="medium-500 maketextgold badge-md">10,000 &#8377;</span></a>

                        <a  class="collection-item" style="background-color: transparent">Gayathri Yagam
                            <span class="badge blue">1Day</span><span class="badge green">Individual</span>
                            <span class="medium-500 maketextgold badge-md">5,000 &#8377;</span></a>

                        <a  class="collection-item" style="background-color: transparent">Gayathri Kudumbarchana
                            <span class="badge blue">1Day</span><span class="badge green">Family</span>
                            <span class="medium-500 maketextgold badge-md">1,000 &#8377;</span></a>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
                    <span style="border-bottom: 1px solid darkgoldenrod;">HOMAM</span>

                    <div class="collection">
                        <a  class="collection-item" >MAHAGANAPATHY HOMAM<span class="medium-500 maketextgold badge-md">500 &#8377;</span></a>
                        <a  class="collection-item">MAHASUDARSANA HOMAM<span class="medium-500 maketextgold badge-md">1000 &#8377;</span></a>
                        <a  class="collection-item">NAVAGRAHA HOMAM<span class="medium-500 maketextgold badge-md">1000 &#8377;</span></a>
                        <a  class="collection-item">MAHAMRUTHYNJAYA HOMAM<span class="medium-500 maketextgold badge-md"> 1000&#8377;</span></a>
                        <a  class="collection-item">ASWAROODA MANTHRA HOMAM<span class="medium-500 maketextgold badge-md">1000 &#8377;</span></a>
                        <a  class="collection-item">AGHORA HOMAM<span class="medium-500 maketextgold badge-md">3000 &#8377;</span></a>
                        <a  class="collection-item">ASHTAMI HOMAM<span class="medium-500 maketextgold badge-md">1500 &#8377;</span></a>
                        <a  class="collection-item">SRISARASWATHY HOMAM<span class="medium-500 maketextgold badge-md">1000&#8377;</span></a>
                        <a  class="collection-item">SHOOLINI HOMAM<span class="medium-500 maketextgold badge-md">1500 &#8377;</span></a>
                        <a  class="collection-item">DHANWANTHRI HOMAM<span class="medium-500 maketextgold badge-md">1500 &#8377;</span></a>
                        <a  class="collection-item">KALISOOKTHA HOMAM<span class="medium-500 maketextgold badge-md">1000 &#8377;</span></a>
                        <a  class="collection-item">PAPAMOCHANA HOMAM<span class="medium-500 maketextgold badge-md">3000 &#8377;</span></a>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
                    <span style="border-bottom: 1px solid darkgoldenrod;">ARCHANA</span>

                    <div class="collection">
                        <a  class="collection-item">GANESHASOOKTARCHANA<span class="medium-500 maketextgold badge-md">101 &#8377;</span></a>
                        <a  class="collection-item">RUDRASOOKTARCHANA<span class="medium-500 maketextgold badge-md">101 &#8377;</span></a>
                        <a  class="collection-item">SARSWATHYMANTRARCHANA<span class="medium-500 maketextgold badge-md">101 &#8377;</span></a>
                        <a  class="collection-item">MRUTHYNJAYARCHANA<span class="medium-500 maketextgold badge-md">101 &#8377;</span></a>
                        <a  class="collection-item">AIKYAMATHYASOOKTARCHANA<span class="medium-500 maketextgold badge-md">101 &#8377;</span></a>
                        <a  class="collection-item">SWAYAMVARA ARCHANA<span class="medium-500 maketextgold badge-md">101 &#8377;</span></a>
                        <a  class="collection-item">VISHNUSAHASRANAMA ARCHANA<span class="medium-500 maketextgold badge-md">101 &#8377;</span></a>
                        <a  class="collection-item">GAYATHRIMANTRARCHANA<span class="medium-500 maketextgold badge-md">251 &#8377;</span></a>
                        <a  class="collection-item">BHAGYASOOKTA ARCHANA<span class="medium-500 maketextgold badge-md">101 &#8377;</span></a>
                        <a  class="collection-item">UMAMAHESHWARA MANTRARCHANA<span class="medium-500 maketextgold badge-md">501 &#8377;</span></a>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
                    <span style="border-bottom: 1px solid darkgoldenrod;">POOJA</span>

                    <div class="collection">
                        <a  class="collection-item">CHANDESWARAMANTRA POOJA<span class="medium-500 maketextgold badge-md">501 &#8377;</span></a>
                        <a  class="collection-item">TUSLI POOJA<span class="medium-500 maketextgold badge-md">251 &#8377;</span></a>
                        <a  class="collection-item">GAYATHRIRAKSHACHARADU<span class="medium-500 maketextgold badge-md">101 &#8377;</span></a>
                        <a  class="collection-item">RAKHTAPUSHPANJALI<span class="medium-500 maketextgold badge-md">101 &#8377;</span></a>

                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="panel panel-success wow fadeInUp" >
                        <div class="panel-heading">Yagashala Archana Coupon</div>
                        <div class="panel-body"><b class="maketextgold" style="font-size: large;">100 &#8377; </b><span class="badge green">Per Person</span></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="yagam-price">
        <div class="text-center">
            <br><br><br>
            <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="panel panel-danger wow fadeInUp" >
                    <div class="panel-heading">Bank Account Details</div>
                    <div class="panel-body">
                        <span>For Ordering Poojas, Pathakkams and SreeChakrams Please contact our office prior to transferring the amount to bank account as given below :</span>
                        <br><br>
                        <span>Account No: <b>2815101009028</b></span><br>
                        <span>V.K.S.R Temple</span><br>
                        <span>Canara Bank, Kadappakada Branch,</span><br>
                        <span>Kollam 691008</span><br>
                        <span>IFSC Code: <span class="badge red">CNRB0002815</span></span>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>