

.parallax {
  .parallax-content{
    background-color: transparent;
    text-shadow: 2px 2px black;
    opacity: 0.8;
    h3{
      color:white;
    }
    h5{
      color:white;
    }
  }
}

.transparent-back-white{
    background-color: white;
    opacity: 0.8;
}
