<style>
    .yagam-div-1{
        min-height: 400px;
        background-image: url('images/yagam/yagam1.jpg');
    }
    .yagam-div-1 h4,p{
        color:white;
        /*margin-top: 5%;*/
        font-weight: 400;
    }
    .date-box{
        height: 100px;
        width: 100px;
        border-radius:5px;
        background-color: dodgerblue;
    }
    .date-box{
        display: flex;
        align-items: center;
        color: white;
    }
    .date-box p{
        display: block;
        position: relative;
    }
    address span{
        color:black;
        line-height: 1;
    }
    .yagam-div-3{
        min-height: 400px;
        background-color: whitesmoke;
    }
    .yagam-people-div span{
        color:black;
    }
    .yagam-people-div img{
        border:2px solid darkgoldenrod;
    }
    .yagam-people-div .subhead{
        color:darkgray;
    }
    .yagam-people-div .head{
        font-size:large;
        font-weight: 300;
        color:black;
    }
    #yagamModal h5{
        color:black;
    }
    #yagamModal p{
        color:black;
        font-size:medium;
    }

    #yagamCarousel, #rrCarousel{
        min-height:300px;
    }
    .carousel .carousel-indicators .active{
        background-color: darkgray !important;
    }
    .pulldown{
        margin-top: 100px;
        width: 100%;
        height: 100%;
    }
    .carousel-image{
        height: 300px;
    }
    .carousel-caption{
        float: right;
        margin-left: 30%;
        right: 0;
        width: 500px;
    }

    @media (max-width: 768px) {
        .pulldown{
            margin-top: 50%;
            width: 100%;
            height: 100%;
        }
        .carousel-caption{
            float: left !important;
            left: 0;
            right: 0;
            margin: auto !important;
            width: auto !important;
        }
        .carousel-caption p , .carousel-caption h4{
            color:white !important;
        }
        .carousel-image{
            -webkit-filter: brightness(30%);
            filter: brightness(30%);
        }
    }

    #posterImages img{
        width: 100%;
        cursor: zoom-in;
    }
</style>

<div class="container-fluid yagam-div-1 wow slideInUp">
    <div class="container text-center ">
        <h4>SREE  MAHAGAYATHRI YAGAM</h4>
        <span style="color:lightgrey;font-size: small;">Conducted By Vadakkekunnathu Sree Raja Rajeswari Devi Trust</span><br>
        <span style="color:lightgrey;font-size: small;">On behalf of, Sree Mookambika Mission Charitable Trust, India</span>
        <br><br><br>
        <p style="text-shadow: 2px 2px black;"> Bharat Land witnessed Sree Maha Gayatri Yagam ,the greatest of all yagas ever held in the whole world in which great saints,vedic scholars and thantric Acharyas joined together who adore Bharat Culture and strengthened it with all their might !</p>
        <button type="button" class="btn btn-primary" data-target="#yagamModal" data-toggle="modal" style="color: white;">Read More</button>
    </div>
    <div class="modal fade" id="yagamModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">SREE  MAHAGAYATHRI YAGAM 2016</h5>
                </div>
                <div class="modal-body">
                    <span>1.   Bharat Land witnessed Sree Maha Gayatri Yagam ,the greatest of all

                        yagas ever  held in the whole world in which great saints,vedic scholars and thantric

                        Acharyas joined together who adore Bharat Culture and try their best to

                        strengthen it with all their  might !<br><br>

                        2. VadakkeKunnathu Sree Rajarajeswari Devi Temple yard was the Yagam Land !The

                        complete Gayatri Mantra is addressed to Sree Rajarajeswari Devi  the subodiment of

                        Brahma,Vishnu and Siva, the supreme power of  the fourteen worlds who is really the

                        VedaMatha Gayatri and Savitre Herself ! Thus come the Holi Astrological direction

                        that Sree Maha Gayatri Yagam should be held at Sree Matha's Lotus Feet !<br><br>

                        3. Sree Maha Gayatri Yagam was organised by Kollam Kadappakada Vadakke

                        Kunnathu Sree Rajarajeswari Devi Temple Trust and Mookambika Mission Charitable

                        Trust India hand in hand . The Yagam was conducted in the right Vedic Way

                        from 18th April 2016 to 22nd April 2016 by a team of Vedic Scholars headed by this

                        Holiness Sri Sri Sri Jayendra Puri Maha Swamiji , Sri Kailash Ashrama Maha

                        Samsthana Rajarajeswari Nagar Bangalore along with his dear disciple Sri

                        Advaithananda Puri Swami and guided by Sri Manjunatha Adiga the former Chief Priest

                        of Kolloor Mookambika Temple and his son Sri Nithyananda Adiga , the Chief Chief

                        Priest of Kolloor Mookambika Temple and his daughter-in-law Smt Rashitha Adiga

                        as Lord and Lady of the Yagam. <br><br>

                        4. The Well of the Yagam was lighted from the ever-burning lamp of Kolloor Mookambika

                        Temple brought in a Chariot pageant,viewing about 350 great Temples en-rout

                        along with Sree Matha's Idol and Maha Meru Nilayana after having performed great

                        poojas in the Sanctum of Kolloor  Mookambika Temple to be placed in the Yagam

                        Land near the deity  Veda Matha Sree Maha Gayatri Devi Herself!</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid yagam-div-2 wow slideInUp">
    <div class="container text-center">

        <div class="row text-center">
            <div class="container">
                <div class="col-md-4" style="margin-top:30px;">
                    <p class="maketextgold">Venue</p>
                    <address>
                        <span><b>Vadakkekunanthu Sree Rajarajeswari Devi Temple</b></span><br>
                        <span>Vrindavan Nagar, Kadappakada</span><br>
                        <span style="color:gray">Kollam 691008</span><br>
                        <span style="color:gray">Kerala, India</span><br>
                        <span>click <a ui-sref="contact">here</a> for more contact info</span>
                    </address>
                </div>
                <h5>Dates</h5>
                <hr>
                <div ng-repeat="date in yagamDates" style="margin:2%" class="text-center col-xs-12 col-sm-1 col-md-1 col-lg-1">
                    <div class="date-box container text-center wow fadeInUp hoverable">
                        <div class="container text-center">
                            <span>April</span>
                            <span style="font-size: 40px;">{{date}}</span>
                            <span>2016</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="yagamCarousel" class="carousel slide carousel-fade hoverable"   data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#yagamCarousel" style="border:1px solid grey" data-slide-to="{{$index}}" ng-class="{'active' : $index == 0}" ng-repeat="announcement in announcements"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div id="rrCarousel" class="carousel-inner  z-depth-2" role="listbox">
            <div class="item" ng-repeat="announcement in announcements" ng-class=" $index == 0 ? 'active' : ''" >
                <div class="view">
                    <a><img class="carousel-image" ng-src="{{announcement.imgSrc}}" class="img-responsive pulldown" alt="slide1">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                    <div class="carousel-caption">
                        <div class="animated fadeInUp">
                            <h4 class="blackText">{{announcement.head}}</h4>
                            <p style="color:slategray; text-shadow: none;">{{announcement.desc}}</p>
                        </div>
                    </div>
                </div>
            </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control new-control wow fadeInLeft" role="button" data-slide="prev">
        <span class="fa fa fa-angle-left waves-effect waves-light"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control new-control  wow fadeInRight" role="button" data-slide="next">
        <span class="fa fa fa-angle-right waves-effect waves-light"></span>
        <span class="sr-only">Next</span>
    </a>
</div>





<div class="container-fluid yagam-div-3">
    <div class="container text-center">
        <h4 class="blackText" style="font-weight: 300;">Mahaniya Sanidhyam</h4>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 text-center yagam-people-div">
                <img style="height: 150px;width: 150px;" src="images/yagam/dp1.jpg" class="img-circle  hoverable waves-effect waves-orange">
                <br>
                <span class="head">JagathGuru Sri Sri Sri Jayendrapuri swami</span><br>
                <span class="subhead">kailasapeedam peedathipathy</span><br>
                <span class="subhead">Sree Rajarajeswari nagar, Bangalore</span>
            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">
            </div>
            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-center yagam-people-div">
                <h5>Yagacharyan</h5>
                <img style="height: 150px;width: 150px;" src="images/yagam/dp2.jpg" class="img-circle  hoverable waves-effect waves-orange">
                <br>
                <span class="head">Sri Advaidananthapuri Swami</span><br>
                <span class="subhead">Jagath Guru Shishyan</span><br>
                <span class="subhead">kailasapeedam Sree Rajarajeswari nagar, Bangalore</span>
            </div>
            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-center yagam-people-div">
                <h5>MarggaDarshi</h5>
                <img style="height: 150px;width: 150px;" src="images/yagam/dp3.jpg" class="img-circle  hoverable waves-effect waves-orange">
                <br>
                <span class="head">Sri Manjunatha Adiga</span><br>
                <span class="subhead">Former Priest</span><br>
                <span class="subhead">Kollur Sri Mookambika Temple</span>
            </div>

        </div>
        <br><br>
        <div class="row">
            <!--<div class="col-md-2 col-lg-3 col-xs-1 col-sm-1">-->
            <!--</div>-->
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 text-center yagam-people-div">
                <h5>Trust Owner</h5>
                <img style="height: 150px;width: 150px;" src="images/yagam/dp4.jpg" class="img-circle hoverable waves-effect waves-orange">
                <br>
                <span class="head">Makam Nal KeralaVarma Raja</span><br>
                <span class="subhead">Valiyakoyikkal Palace</span><br>
                <span class="subhead">Panthalam</span>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 text-center yagam-people-div">
                <h5>Yagam yajaman/yajamanapathni</h5>
                <img style="height: 150px;width: 230px; border-radius: 5px;" src="images/yagam/dp6.jpg" class=" hoverable waves-effect waves-orange">
                <br>
                <span class="head">Sri. Nityanantha Adiga</span><br>
                <span class="head">Wife, Smt. Rakshitha Adiga</span><br>
                <span class="subhead">Head Priest</span><br>
                <span class="subhead">Kollur Sri Mookambika Temple</span>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 text-center yagam-people-div">
                <h5>Trust Acharya</h5>
                <img style="height: 150px;width: 150px;" src="images/yagam/dp5.jpg" class="img-circle  hoverable waves-effect waves-orange">
                <br>
                <span class="head">Sri Mookambika SajiPotti</span><br>
                <span class="subhead">Philanthropist</span><br>
            </div>
        </div>
        <br><br><br>
    </div>
</div>

<div class="yagam-div-4">
    <div class="container text-center">
        <h4>Posters and Brochures</h4>
        <div id="posterImages" class="wow slideInUp docs-pictures clearfix row">
            <div class="col-md-4 col-lg-4">
                <li><img data-original="images/yagam/poster/poster1.jpg" src="images/yagam/poster/poster1.jpg" alt="Maha Gayathri Yagam Brochure"></li>
            </div>
            <div class="col-md-4 col-lg-4">
            <li><img data-original="images/yagam/poster/poster2.jpg" src="images/yagam/poster/poster2.jpg" alt="Maha Gayathri Yagam Brochure Front"></li>
            </div>
            <div class="col-md-4 col-lg-4">
            <li><img  data-original="images/yagam/poster/poster3.jpg" src="images/yagam/poster/poster3.jpg" alt="Maha Gayathri Yagam Brochure Back"></li>
            </div>

            <div class="col-md-4 col-lg-4">
            <li><img data-original="images/yagam/poster/poster4.jpg" src="images/yagam/poster/poster4.jpg" alt="Invitation & request to the Other Temple trust members for the Swagatha Sangam"></li>
            </div>

            <div class="col-md-4 col-lg-4">
            <li><img data-original="images/yagam/poster/poster5.jpg" src="images/yagam/poster/poster5.jpg" alt="KappuKettu Accouncement"></li>
            </div>

        </div>
    </div>
</div>
