<style>
    .images img{
        height: 100px;
        width: 100px;
    }

    .clearfix .landscape{
        height: 150px;
        /*width: 200px;*/
    }
    .clearfix img{
        height: 50px;
        width: 50px;
        /*width: 200px;*/
    }
    .docs-pictures li{
        width: auto;
    }
    .docs-pictures li img{
        height: auto !important;
        width: auto !important;
        margin: 10px;
    }

</style>
<br>
<div class="container text-center">
    <div class="container">
        <h3 class="maketextgold">Gallery</h3>
        <ul class="wow slideInUp docs-pictures clearfix" style="visibility: visible; animation-name: slideInUp;">            
                
            <li class="waves-effect waves-light"><img data-original="https://i.imgur.com/DNm7qtZ.jpg" src="https://i.imgur.com/DNm7qtZt.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="https://i.imgur.com/iUXOHeM.jpg" src="https://i.imgur.com/iUXOHeMt.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="https://i.imgur.com/hek8fm9.jpg" src="https://i.imgur.com/hek8fm9t.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="https://i.imgur.com/3NgJYcK.jpg" src="https://i.imgur.com/3NgJYcKt.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="https://i.imgur.com/j8iIV0T.jpg" src="https://i.imgur.com/j8iIV0Tt.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="https://i.imgur.com/0U21D6S.jpg" src="https://i.imgur.com/0U21D6St.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="https://i.imgur.com/2tbEHBq.jpg" src="https://i.imgur.com/2tbEHBqt.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="https://i.imgur.com/lfjuIha.jpg" src="https://i.imgur.com/lfjuIhat.jpg" alt=""></li>
            

            <li class="waves-effect waves-light"><img data-original="http://i.imgur.com/ggaG3uD.jpg" src="http://i.imgur.com/ggaG3uDs.jpg" alt="Sthoopam at kadappakada junction, kollam"></li>
            <li class="waves-effect waves-light"><img data-original="http://i.imgur.com/5eXbjM8h.jpg" src="http://i.imgur.com/5eXbjM8s.jpg" alt=""></li>
            <li class=" waves-effect waves-light"><img data-original="http://i.imgur.com/XTIrqvH.jpg" src="http://i.imgur.com/XTIrqvHs.jpg" alt=""></li>
            <li class=" waves-effect waves-light"><img data-original="http://imgur.com/hfRDcYF.jpg" src="http://i.imgur.com/hfRDcYFs.jpg" alt=""></li>
            <li class=" waves-effect waves-light"><img data-original="http://imgur.com/kzkt99d.jpg" src="http://i.imgur.com/kzkt99ds.jpg" alt=""></li>
            <li class=" waves-effect waves-light"><img data-original="http://imgur.com/ZdggJAv.jpg" src="http://i.imgur.com/ZdggJAvs.jpg" alt=""></li>
            <li class=" waves-effect waves-light"><img data-original="http://imgur.com/qWYM3zC.jpg"     src="http://i.imgur.com/qWYM3zCs.jpg" alt=""></li>
            <li class=" waves-effect waves-light"><img data-original="http://imgur.com/fxpu0WC.jpg" src="http://i.imgur.com/fxpu0WCs.jpg" alt=""></li>
            <li class=" waves-effect waves-light"><img data-original="http://i.imgur.com/5qssr38.jpg" src="http://i.imgur.com/5qssr38s.jpg" alt=""></li>
            <li class=" waves-effect waves-light"><img data-original="http://i.imgur.com/L1eIZwV.jpg" src="http://i.imgur.com/L1eIZwVs.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="http://imgur.com/yELYX6m.jpg" src="http://i.imgur.com/yELYX6ms.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="http://imgur.com/IiUrJkZ.jpg" src="http://i.imgur.com/IiUrJkZs.jpg" alt=""></li>



            <li class="waves-effect waves-light"><img data-original="http://i.imgur.com/merIl7Ph.jpg" src="http://i.imgur.com/merIl7Ps.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="http://i.imgur.com/yWL8Dkyh.jpg" src="http://i.imgur.com/yWL8Dkys.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="http://i.imgur.com/tjLI6sZh.jpg" src="http://i.imgur.com/tjLI6sZs.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="http://i.imgur.com/kdDIppkh.jpg" src="http://i.imgur.com/kdDIppks.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="http://i.imgur.com/4jiJAmih.jpg" src="http://i.imgur.com/4jiJAmis.jpg" alt=""></li>
            <li class="waves-effect waves-light"><img data-original="http://i.imgur.com/L1eIZwVh.jpg" src="http://i.imgur.com/L1eIZwVs.jpg" alt=""></li>
            

            

        </ul>
    </div>
</div>
<br><br>

<div class="container-fluid text-center" style="background-color: whitesmoke">
    <br>
    <h5>Download HD Wallpapers</h5>
    <br>

    <div class="row">
        <div class="hidden-sm hiddem-xs  col-md-1 col-lg-1"></div>
        <div class="text-center col-xs-12 col-sm-6 col-md-2 col-lg-2 wow fadeInUp">
            <div class="  waves-effect waves-orange" >
                <img class="thumbnail" src="http://i.imgur.com/KOLP23zs.jpg" alt="">
            </div>
            <br>
            <a class="btn btn-success waves-effect waves-light" ng-click="download('http://i.imgur.com/KOLP23z.jpg')">Download</a>
        </div>
        <div class="text-center col-xs-12 col-sm-6 col-md-2 col-lg-2 wow fadeInUp">
            <div class="  waves-effect waves-orange" >
                <img class="thumbnail" src="http://i.imgur.com/fjjkhOks.jpg" alt="">
            </div>
            <br>
            <a class="btn btn-success waves-effect waves-light" ng-click="download('http://i.imgur.com/fjjkhOk.jpg')">Download</a>
        </div>
        <div class="text-center col-xs-12 col-sm-6 col-md-2 col-lg-2 wow fadeInUp">
            <div class="  waves-effect waves-orange" >
                <img class="thumbnail" src="http://i.imgur.com/YSIjuMps.jpg" alt="">
            </div>
            <br>
            <a class="btn btn-success waves-effect waves-light" ng-click="download('http://i.imgur.com/YSIjuMp.jpg')">Download</a>
        </div>
        <div class="text-center col-xs-12 col-sm-6 col-md-2 col-lg-2 wow fadeInUp">
            <div class="  waves-effect waves-orange" >
                <img class="thumbnail" src="http://i.imgur.com/nRyHRd3s.jpg" alt="">
            </div>
            <br>
            <a class="btn btn-success waves-effect waves-light" ng-click="download('http://i.imgur.com/nRyHRd3.jpg')">Download</a>
        </div>
        <div class="text-center col-xs-12 col-sm-12 col-md-2 col-lg-2 wow fadeInUp">
            <div class="waves-effect waves-orange" >
                <img class="thumbnail" src="http://i.imgur.com/ehO22Cgs.jpg" alt="">
            </div>
            <br>
            <a class="btn btn-success waves-effect waves-light" ng-click="download('http://i.imgur.com/ehO22Cgh.jpg')">Download</a>
        </div>
    </div>

    </div>

</div>


<br>
<div class="container text-center">
    <br>
    <h5>Devotional Songs</h5>        
    <br>
    <h5>

            Vadakkekunnathu sree raja rajeswari devi sankeerthanangal
        </h5>
            <br>
            <span>
            Music: Sri. Sunil Kumar <br>
            Singers: Sudeep Kumar, Dr. Rashmi Madhu<br>
            Lyrics: Sri. B.C.Bose<br>
            Recording: Aarabhi Record Inn, TVM, IVA Digital EKM,
            Engineers: Mesmin & Bineesh<br>
            Mixed by: Ani.M.Arjun
            <br>
            Produced and copy right owned by :
            <b>RUDRANI AUDIOS</b>
            </span>
            <br><br><br><br>
            <iframe class="hidden-xs hidden-sm" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLUWGv7uJ9yeL0W8zokkf7JGEX_pZ1vls1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe class="hidden-md hidden-lg" width="280" height="180" src="https://www.youtube.com/embed/videoseries?list=PLUWGv7uJ9yeL0W8zokkf7JGEX_pZ1vls1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            <br><br>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/r1yMvou9gqw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/316ARSmjhNY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/h66Sv6D4DzQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/_kMxXGBdGSk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/HRr_xmrdnL0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/mu8hOnZuuys" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/HhYpsNpLS0k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/tJRZf3NsaPY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/iKO66vzPxUg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/fBlMuE23tz4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/gVj2bd8_JTI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/bL5eJQzznsk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/EQPOsCdaP0s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/7h-5FyEX6yM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/7h-5FyEX6yM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/pis9DW_k43U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/-AagKovSp3g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/OIZ-4l0qLP4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/MFyAINsC7nI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/0bwXPttsRLU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/xatJ7IJ8m-M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="280" height="180" src="https://www.youtube.com/embed/C91zgyX2e-U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <br><br><br><br>
    <div class="container">

    </div>